<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Not Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>153324491C8B04EF00E2AE95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF01C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF11C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF21C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF31C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF41C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA0DF61C88DEEE00DF59BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
